@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tiptap placeholder */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: 300;
}

/* Tiptap editor live preview styles */
.prose h1,
.prose h2,
.prose h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.prose h1 {
  @apply scroll-m-20 text-4xl font-extrabold lg:text-5xl;
}
.prose h2 {
  @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold transition-colors first:mt-0;
}
.prose h3 {
  @apply mt-8 scroll-m-20 text-2xl font-semibold;
}
.prose strong {
  font-weight: 600;
}
.prose p {
  @apply leading-7 [&:not(:first-child)]:mb-6;
}
.prose blockquote {
  @apply mt-3 border-l-[3px] border-yellow-300 pl-6 bg-neutral-100 dark:bg-neutral-800 py-2 rounded-r-lg rounded-l;
}
.prose ul,
.prose ol {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}
.prose ul {
  @apply list-disc;
}
.prose ol {
  @apply list-decimal;
}
.prose hr {
  @apply my-6 dark:border-neutral-700;
}
.prose ul[data-type="taskList"] li {
  @apply flex items-center flex-wrap gap-x-2;
}

.prose code:not(pre code) {
  @apply font-mono text-pink-500 dark:text-pink-400 tracking-tight text-sm;
}

.hljs {
  font-size: 13px;
  @apply bg-zinc-900 rounded-xl dark:bg-[#0E0E10] text-zinc-300 overflow-x-auto p-4 border border-zinc-300/20 mb-6;
}

.hljs-comment,
.hljs-prolog,
.hljs-doctype,
.hljs-cdata {
  color: #6272a4;
}

.hljs-punctuation {
  color: #f8f8f2;
}

.hljs-namespace {
  opacity: 0.7;
}

.hljs-property,
.hljs-tag,
.hljs-constant,
.hljs-symbol,
.hljs-deleted {
  color: #ff79c6;
}

.hljs-boolean,
.hljs-number {
  color: #bd93f9;
}

.hljs-selector,
.hljs-attr-name,
.hljs-string,
.hljs-char,
.hljs-builtin,
.hljs-inserted {
  color: #50fa7b;
}

.hljs-operator,
.hljs-entity,
.hljs-url,
.hljs-variable {
  color: #f8f8f2;
}

.hljs-atrule,
.hljs-attr,
.hljs-function,
.hljs-class-name {
  color: #f1fa8c;
}

.hljs-keyword {
  color: #8be9fd;
}

.hljs-regex,
.hljs-important {
  color: #ffb86c;
}

.hljs-important,
.hljs-bold {
  font-weight: bold;
}

.hljs-italic {
  font-style: italic;
}

.hljs-entity {
  cursor: help;
}
