@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tiptap placeholder */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: 300;
}

/* Tiptap editor live preview styles */
.prose h1,
.prose h2,
.prose h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.prose h1 {
  @apply scroll-m-20 text-4xl font-extrabold lg:text-5xl;
}
.prose h2 {
  @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold transition-colors first:mt-0;
}
.prose h3 {
  @apply mt-8 scroll-m-20 text-2xl font-semibold;
}
.prose strong {
  font-weight: 600;
}
.prose p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}
.prose blockquote {
  @apply mt-3 border-l-[3px] border-yellow-300 pl-6 bg-neutral-100 dark:bg-neutral-800 py-2 rounded-r-lg rounded-l;
}
.prose ul,
.prose ol {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}
.prose ul {
  @apply list-disc;
}
.prose ol {
  @apply list-decimal;
}
.prose hr {
  @apply my-6 dark:border-neutral-700;
}
.prose ul[data-type="taskList"] li {
  @apply flex items-center flex-wrap gap-x-2;
}

.prose code:not(pre code) {
  @apply font-mono text-pink-500 dark:text-pink-400 tracking-tight text-sm;
}
